<html>
<head>
<title>Images</title>
<!--link rel="stylesheet" type="text/css" href="css/index.css"-->
<style type="text/css">
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
</style>
</head>
<body style="margin: 0; border: 0; padding: 0; background-color: #f0f0f0" class="noselect">
	<table>
		<tr>
			<td style="vertical-align: middle"><input type="text" name="img_url" id="img_url" /></td>
		</tr>
		<tr>
			<td><input type="button" value="recognize" onclick="recognizeImage()"></td>
		</tr>
	</table>
</body>
</html>
